@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
* {
  font-family: 'Open Sans', sans-serif; }

.block .provide .learn__more, .container__background .text__button .button {
  padding-top: 60px; }

.contacts .mail__contact .name__mail a, .email__background .email__wrapper .email__input a, .block .provide .learn__more a, .container__background .text__button .button a {
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid;
  display: inline-block;
  text-align: center; }

.contacts .mail__contact .name__mail a:hover, .email__background .email__wrapper .email__input a:hover {
  border-color: #ff3f40;
  background: #f5f0dd;
  transition: 0.3s;
  color: #ff3f40;
  border: 2px solid; }

.our__team .main__photo .main__photo__wrapper .main__photo__inner, .our__team .main__photo .mark .team__photos .main__photo-item .main__item-inner, .products .products__img .img__item-inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.contacts .contacts__wrapper .contacts__container p, .our__team .team__wrapper .team__container p, .our__team .main__photo .mark p, .products .products__container p, .container__background .text__button p {
  line-height: 1.8;
  color: #313030; }

.contacts .contacts__wrapper .contacts__container h3, .email__background .email__wrapper h3, .our__team .team__wrapper .team__container h3, .products .products__container h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px; }

.contacts .contacts__wrapper .contacts__container:after, .our__team .team__wrapper .team__container:after, .products .products__container:after {
  width: 129px;
  height: 3px;
  background-color: #ff3f40;
  margin-top: 30px;
  display: inline-block;
  content: ''; }

.contacts .mail__contact .name__mail input, .contacts .mail__contact .name__mail textarea, .email__background .email__wrapper .email__input input {
  border-radius: 5px;
  border: none; }

header,
.container__background {
  background: #f6f2f2; }

main {
  overflow-x: hidden; }

.container {
  max-width: 1250px;
  margin: 0 auto; }

@media (max-width: 1250px) {
  .container {
    width: 1000px; } }
@media (max-width: 1000px) {
  .container {
    width: 767px; } }
@media (max-width: 767px) {
  .container {
    width: 576px; }

  * {
    font-size: 20px; } }
@media (max-width: 576px) {
  .container {
    width: 100%; }

  * {
    font-size: 30px; } }
.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px; }
  .contacts .contacts__wrapper .contacts__container p {
    max-width: 60%;
    padding-bottom: 30px; }
  .contacts .mail__contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    position: relative; }
    .contacts .mail__contact:after {
      width: calc(85vw / 2);
      height: 100%;
      background-color: #313030;
      content: '';
      position: absolute;
      right: calc(-100vw / 3);
      top: 0; }
    .contacts .mail__contact .name__mail input {
      padding: 0 20px 0;
      width: 340px;
      height: 50px;
      background-color: #e5e5e5; }
      .contacts .mail__contact .name__mail input:first-child {
        margin-right: 50px; }
    .contacts .mail__contact .name__mail textarea {
      padding: 30px;
      width: 100%;
      height: 250px;
      background-color: #e5e5e5;
      margin-top: 50px;
      display: block;
      resize: none; }
    .contacts .mail__contact .name__mail a {
      font-size: 20px;
      padding: 30px 0;
      color: #fff;
      background: #ff3f40;
      text-transform: uppercase;
      width: 100%;
      margin-top: 50px; }
      .contacts .mail__contact .name__mail a:hover {
        background-color: #fff; }
    .contacts .mail__contact .contact__info {
      display: flex;
      flex-wrap: wrap;
      width: calc(40% - 188px);
      flex-direction: column;
      justify-content: center;
      background: #313030;
      margin-left: 80px;
      padding: 0 15px 0 70px;
      color: #fff; }
    .contacts .mail__contact h3 {
      margin-bottom: 30px;
      text-transform: uppercase; }
    .contacts .mail__contact p {
      margin-bottom: 30px; }
    .contacts .mail__contact a {
      color: #fff;
      text-decoration: none; }
      .contacts .mail__contact a:hover {
        color: #ff3f40; }

@media (max-width: 1340px) {
  .contacts {
    text-align: center; }
    .contacts .contacts__wrapper .contacts__container p {
      max-width: 100%; }
    .contacts .mail__contact {
      justify-content: center;
      display: inline; }
      .contacts .mail__contact .contact__info {
        padding: 30px 0 10px 0;
        margin: 30px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column6;
        justify-content: space-around; }
        .contacts .mail__contact .contact__info p {
          margin: 0;
          padding: 10px 20px 0 20px; }
      .contacts .mail__contact:after {
        display: none; }
      .contacts .mail__contact .name__mail input {
        width: 100%; }
        .contacts .mail__contact .name__mail input:last-of-type {
          margin-top: 40px; } }
@media (max-width: 1000px) {
  .contacts .mail__contact .name__mail input {
    font-size: 30px;
    height: 80px; }
  .contacts .mail__contact .name__mail textarea {
    font-size: 30px;
    height: 350px; }
  .contacts .mail__contact .name__mail a {
    font-size: 35px; } }
.email__background {
  background-color: #f5f0dd;
  padding-top: 150px;
  color: #fff; }
  .email__background .email__wrapper {
    justify-content: center;
    text-align: center; }
    .email__background .email__wrapper h3 {
      text-transform: none; }
    .email__background .email__wrapper .email__input {
      padding-top: 50px;
      padding-bottom: 150px; }
      .email__background .email__wrapper .email__input input {
        padding: 20px;
        width: 500px;
        height: 78px;
        background-color: #fff;
        margin-right: 20px; }
      .email__background .email__wrapper .email__input a {
        font-size: 20px;
        padding: 23px 65px;
        color: #fff;
        background: #ff3f40;
        text-transform: uppercase; }

@media (max-width: 767px) {
  .email__background .email__wrapper .email__input a {
    margin-top: 30px;
    width: 100%;
    font-size: 35px; }
  .email__background .email__wrapper .email__input input {
    font-size: 30px; } }
.our__team {
  padding-top: 100px;
  padding-bottom: 100px; }
  .our__team .team__wrapper .team__container p {
    max-width: 36%; }
  .our__team .main__photo {
    padding-top: 50px;
    display: flex;
    justify-content: space-between; }
    .our__team .main__photo .main__photo__wrapper {
      width: 312.5px;
      height: 450px; }
      .our__team .main__photo .main__photo__wrapper .main__photo__inner {
        width: 100%;
        height: 100%;
        background-color: rosybrown; }
    .our__team .main__photo .mark {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .our__team .main__photo .mark h3 {
        font-size: 37px;
        text-transform: uppercase;
        font-weight: lighter; }
      .our__team .main__photo .mark p {
        max-width: 650px;
        padding-top: 20px; }
      .our__team .main__photo .mark .social {
        padding-top: 50px; }
        .our__team .main__photo .mark .social a {
          padding-right: 30px;
          text-decoration: none;
          font-style: italic;
          color: black;
          cursor: pointer; }
          .our__team .main__photo .mark .social a:hover {
            color: #ff3f40; }
      .our__team .main__photo .mark .team__photos {
        padding-top: 50px;
        display: flex; }
        .our__team .main__photo .mark .team__photos .main__photo-item {
          width: 208.3333333333px;
          height: 178.5714285714px;
          background-color: white; }
          .our__team .main__photo .mark .team__photos .main__photo-item:not(:last-child) {
            padding: 0 20px 0 0; }
          .our__team .main__photo .mark .team__photos .main__photo-item .main__item-inner {
            width: 100%;
            height: 100%;
            background-color: rosybrown;
            position: relative; }
            .our__team .main__photo .mark .team__photos .main__photo-item .main__item-inner span {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              background: rgba(0, 0, 0, 0.8);
              color: #fff;
              text-align: center;
              height: 30px;
              opacity: 0;
              transition: all .4s ease; }
              .our__team .main__photo .mark .team__photos .main__photo-item .main__item-inner span:hover {
                opacity: 1; }

@media (max-width: 1250px) {
  .our__team {
    justify-content: center;
    text-align: center; }
    .our__team .team__wrapper .team__container p {
      max-width: 100%; }
    .our__team .main__photo {
      flex-direction: column; }
      .our__team .main__photo .mark .team__photos {
        justify-content: center; }
      .our__team .main__photo .mark h3 {
        margin-top: 30px; }
      .our__team .main__photo .mark p {
        max-width: 100%; }
      .our__team .main__photo .main__photo__wrapper {
        width: 100%;
        height: 800px; } }
@media (max-width: 1250px) and (max-width: 767px) {
  .our__team .main__photo .mark .team__photos {
    flex-direction: column; }
    .our__team .main__photo .mark .team__photos .main__photo-item {
      width: 100%;
      height: 500px;
      margin-top: 30px; }
      .our__team .main__photo .mark .team__photos .main__photo-item:nth-child(odd) {
        padding: 0; }
      .our__team .main__photo .mark .team__photos .main__photo-item:nth-child(2) {
        padding: 0; } }
@media (max-width: 767px) {
  .our__team .main__photo .mark .social a {
    padding: 30px; } }
.products .products__container {
  margin-top: 80px;
  text-align: center;
  max-width: 500px; }
.products__buttons ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 50px auto;
  padding: 0; }
  .products__buttons ul li {
    padding-left: 30px; }
  .products__buttons ul a {
    color: #313030;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    cursor: pointer;
    transition: 0.3s; }
    .products__buttons ul a:hover {
      transition: 0.3s;
      color: #ff3f40; }
.products .products__img {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .products .products__img .img__item {
    width: 312.5px;
    height: 312.5px;
    background-color: white;
    padding: 0 10px 20px;
    margin: 0 auto; }
    .products .products__img .img__item-inner {
      width: 100%;
      height: 100%;
      background-color: rosybrown; }

@media (max-width: 1000px) {
  .products .products__img .img__item {
    padding: 10px 0; }
  .products .products__buttons ul li {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px 0 10px; } }
@media (max-width: 767px) {
  .products .products__img {
    flex-direction: column; }
    .products .products__img .img__item {
      width: 550px;
      height: 500px; } }
@media (max-width: 576px) {
  .products__buttons ul a {
    font-size: 20px; } }
.footer__background {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #313030;
  color: #c0bfbf;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 50px; }
  .footer__background p {
    padding-top: 5px; }
  .footer__background .link__img {
    display: flex; }
    .footer__background .link__img img {
      padding-right: 30px; }
    .footer__background .link__img a {
      cursor: pointer; }

@media (max-width: 767px) {
  .footer__background {
    flex-direction: column;
    text-align: center; }
    .footer__background .link__img {
      margin-top: 20px;
      justify-content: center; } }
.block {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #909090; }
  .block .provide {
    width: 50%; }
    .block .provide p {
      line-height: 1.75;
      padding-right: 100px; }
      .block .provide p:first-child {
        padding-bottom: 20px;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase; }
    .block .provide .learn__more a {
      font-size: 20px;
      padding: 20px 60px;
      color: #ff3f40;
      background: #fff; }
      .block .provide .learn__more a:hover {
        background: #ff3f40;
        color: #fff;
        transition: 0.3s; }
  .block .possibilities {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
    .block .possibilities__item {
      width: 50%;
      line-height: 1.75;
      padding: 5px; }
      .block .possibilities__item img {
        padding-bottom: 25px; }
      .block .possibilities__item p:first-of-type {
        font-size: 27px;
        line-height: 2; }
      .block .possibilities__item p:last-of-type {
        padding-bottom: 25px; }

@media (max-width: 1000px) {
  .block {
    flex-direction: column; }
    .block .provide {
      width: 100%;
      justify-content: center;
      text-align: center; }
      .block .provide .learn__more a {
        font-size: 45px; }
      .block .provide p {
        padding-right: 0; }
    .block .possibilities {
      margin-top: 50px;
      text-align: center;
      width: 100%; }
      .block .possibilities .possibilities__item img {
        margin: 0 auto; }
      .block .possibilities .possibilities__item p:first-of-type {
        font-size: 30px; } }
@media (max-width: 576px) {
  .block .possibilities__item p {
    font-size: 22px; } }
header {
  padding-top: 30px; }
  header .header__container {
    background: #313030;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0 35px; }
  header nav li {
    display: inline-block;
    color: #c0bfbf; }
  header nav a {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #c0bfbf;
    font-size: 16px;
    padding: 46px 23px 36px;
    transition: 0.3s; }
    header nav a:hover {
      background: #ff3f40;
      transition: 0.3s; }

@media (max-width: 767px) {
  header nav a {
    font-size: 20px;
    padding: 46px 14px 36px; } }
@media (max-width: 576px) {
  header .header__container {
    padding: 32px 0 35px; }
  header nav a {
    padding: 45px 9px 39px; } }
.container__background {
  padding-bottom: 110px; }
  .container__background .container__wrapper {
    padding-top: 105px;
    display: flex; }
  .container__background .text__button p {
    max-width: 75%; }
    .container__background .text__button p:first-child {
      font-size: 61px;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      line-height: 1.2;
      padding-bottom: 10px; }
  .container__background .text__button .button a {
    font-size: 20px;
    padding: 20px 60px;
    color: #fff;
    background: #ff3f40; }
    .container__background .text__button .button a:hover {
      border-color: #ff3f40;
      background: #fff;
      transition: 0.3s;
      color: #ff3f40;
      border: 2px solid; }
  .container__background iframe {
    width: 551px;
    height: 356px;
    background-color: white;
    border: none;
    box-shadow: 0 0 20px; }

@media (max-width: 1250px) {
  .container__background .text__button p {
    margin-right: 30px; } }
@media (max-width: 1200px) {
  .container__background iframe {
    width: 400px; } }
@media (max-width: 1000px) {
  .container__background iframe {
    width: 100%; }
  .container__background .container__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center; }
    .container__background .container__wrapper .text__button {
      margin-top: 30px; }
      .container__background .container__wrapper .text__button p {
        max-width: 100%; }
      .container__background .container__wrapper .text__button .button a {
        font-size: 45px; } }

/*# sourceMappingURL=style.css.map */
