.email__background {
  background-color: $color__background;
  padding-top: 150px;
  color: #fff;
  
  .email__wrapper {
    justify-content: center;
    text-align: center;
    h3 {
      @extend %h3;
      text-transform: none;
    }

    .email__input {
     padding-top: 50px;
     padding-bottom: 150px;

     input {
      @include input(20px,500px,78px,#fff);
       margin-right: 20px;
     }
      
     a {
      @include btns(20px,23px 65px,#fff,$secondMain_font);
      text-transform: uppercase;
     
      

      &:hover {
        @extend %button2;
      }
     }
    }
    
  }
}