@media (max-width: $md) {
  .email__background {
    .email__wrapper {
      .email__input {

        a {
          margin-top: 30px;
          width: 100%;
          font-size: 35px;
          
        }
        
        input {
          font-size: 30px;
        }
      }
    }
  }
}