.container__background {
  padding-bottom: 110px;

  .container__wrapper {
    padding-top: 105px;
    display: flex;
  }

  .text__button {
    
    p {
      @extend %p;
     max-width: 75%;
     

     &:first-child {
       font-size: 61px;;
       font-weight: bold;
       color: rgb(0, 0, 0);
       text-transform: uppercase;
       line-height: 1.2;
       padding-bottom: 10px;
    }  
  }
  .button {
    @extend %mp; 

    a {
     @extend %button;
       background: $secondMain_font;
       color: #fff;
       
      
      
       &:hover {
        border-color: $secondMain_font;
        background: #fff;
        transition: $transition;
        color: $secondMain_font;
        border: 2px solid;
    }
   } 
  }
 }
 iframe {
  @include wh(551px,356px,white);
  border: none;
  box-shadow: 0 0 20px;
 }

 
}






