.footer__background {
  @include flex(flex,wrap,100%);
  background: $main_font;
  color: $grey_font;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 50px;

  
  p { 
    padding-top: 5px;
  }
  .link__img {
    display: flex;
   
    img{
      
      padding-right: 30px;
    }

    a{
      cursor: pointer;
    }
    
    
  }

}