$main_font: #313030;

$grey_font: #c0bfbf;

$secondMain_font: #ff3f40;

$second_main_font: rgba(0, 0, 0, 0.702);

$transition: .3s;

$content-width: 1250px;

$color__background: #f5f0dd;

$input: #e5e5e5;

$ex: 1340px;
$xl: 1250px;
$lg: 1000px;
$md: 767px;
$sm: 576px;
$xs: 100%;    