$main_font: #313030;

$grey_font: #c0bfbf;

$secondMain_font: #ff3f40;

$second_main_font: rgba(0, 0, 0, 0.702);

$transition: .3s;

$content-width: 1250px;

$color__background: #f5f0dd;

$input: #e5e5e5