.block {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color:rgb(144, 144, 144);
  .provide {
    width: 50%;

    p {
      line-height: 1.75;
      padding-right: 100px;

     &:first-child {
        padding-bottom: 20px;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .learn__more {
      @extend %mp; 
      
      a {
        @include btns(20px,20px 60px,$secondMain_font,#fff);
        
          

          &:hover {
            background: $secondMain_font;
            color: #fff;
            transition: 0.3s;
          }
      }
    }
  }
  .possibilities {
    @include flex(flex,wrap,50%);
    

    &__item {
      width: 50%;
      line-height: 1.75;
      padding: 5px;

      img {
        padding-bottom: 25px;
        

      }
      p {
        
        &:first-of-type {
          font-size: 27px;
          line-height: 2;
        }

        &:last-of-type {
          padding-bottom: 25px;
        }
      }
    }
  }
  
}












